.app__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 20px;
  background-color: #222;
  color: #FFFFFF;
}

.app__body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
